{% extends 'myapp/base.html' %}

{% block content %}

<br>
<br>
<div class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
          
        <div class="mb-3">
          
          <input type="text" class="form-control" name="username" placeholder="User Name" aria-describedby="emailHelp" required >
          
        </div>
        <div class="mb-3">
          
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="mb-3">
          
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
          </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
      {% endblock %}